body {
    font-family: 'body', sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

h1 span {
    background-color: #313061; 
    color: #f6f6f6;
    padding: 10px 0;
    text-align: center;
}

.text-white {
    color: #000000 !important;
}

a {
    color: #000000; 
}

a:hover {
    color: #c99042; 
}
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #313061;
    color: #fff;
    margin-bottom: 20px;
}