body {
    background-color: #f4f4f4;
    font-family: 'body', sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #313061;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(190, 85, 159, 0.1);
}

.team-container {
    display: flex;
    justify-content: space-around;
    /* Cambiado a space-around para dar un espacio uniforme */
    align-items: center;
    flex-wrap: wrap;
    /* Cambiado a wrap para permitir envoltura de líneas */
}

.team-member {
    flex: 0 0 48%;
    /* Ajuste del porcentaje y aumento del espacio entre los miembros */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #313061;
    color: #fff;
    margin-bottom: 20px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.social-buttons {
    margin: 20px;
}

.instagram-button,
.facebook-button,
.twitter-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.instagram-button {
    background-color: #405de6; /* Color de Instagram */
}

.facebook-button {
    background-color: #1877f2; /* Color de Facebook */
}

.twitter-button {
    background-color: #1da1f2; /* Color de Twitter */
}

.social-buttons i {
    margin-right: 10px;
    font-size: 20px;
}

/* Estilos adicionales para hover (efecto al pasar el ratón) */
.instagram-button:hover {
    background-color: #35469c;
}

.facebook-button:hover {
    background-color: #1565c0;
}

.twitter-button:hover {
    background-color: #0d8eff;
}



