body {
    background-color: #f4f4f4;
    font-family: 'body', sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #a3678d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(190, 85, 159, 0.1);
}

.team-container {
    display: flex;
    justify-content: space-around;
    /* Cambiado a space-around para dar un espacio uniforme */
    align-items: center;
    flex-wrap: wrap;
    /* Cambiado a wrap para permitir envoltura de líneas */
}

.team-member {
    flex: 0 0 48%;
    /* Ajuste del porcentaje y aumento del espacio entre los miembros */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #a57f9d;
    color: #fff;
    margin-bottom: 20px;
}