body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; /* Alinear el texto al centro */
}

.header h2.title {
    margin: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.menu a:hover,
.menu a.active {
    background-color: #555;
    border-radius: 5px;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box p {
    margin: 10px 0;
}

.login-box a {
    color: #3498db;
}

.login-box a:hover {
    text-decoration: underline;
}
