{% extends './base.html' %}

{% block title %}
    Registro Contador
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Registro Contador</h1>
            <div class="card">
                <div class="card-body py-2">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group py-2">
                            <input type="text" id="numero_sensor" name="numero_sensor"  class="form-control" placeholder="numero_sensor"  required />
                        </div>
                        <div class="form-group py-2">
                            <input type="text" id="ubicacion_sensor" name="ubicacion_sensor"  class="form-control" placeholder="ubicacion_sensor"  required />
                        </div>
                        <div class="form-group py-2">
                            <input type="text" id="lectura_actual" name="lectura_actual"  class="form-control" placeholder="lectura_actual"  required />
                        </div>
                        <div class="form-group py-2">
                            <input type="text" id="lectura_anterior" name="lectura_anterior"  class="form-control" placeholder="lectura_anterior" readonly required />
                        </div>
                        <div class="form-group py-2">
                            <input type="text" id="estado" name="estado"  class="form-control" placeholder="Estado" readonly required />
                        </div>
                        <div class="form-group py-2">
                            <button type="submit" class="btn btn-success btn-block text-white">Datos del sensoor</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
