{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />-->
    <link rel="stylesheet" href="{% static '/css/contacto.css' %}" />
    <link rel="icon" href="{% static '/imagenes/repetix.ico.png' %}" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"/>
    <title>Contácto</title>
  </head>
  <body>

  <!-- Inicio Menu -->
  <header class="header">
      <a href="#" class="header__logo">REPETIX</a>

      <i class='bx bx-menu header__toggle' id="header-toggle"></i>

      <nav class="nav" id="nav-menu">
          <div class="nav__content bd-grid">
              <a href="" class="nav__perfil">
                  <div class="nav__img">
                      <img src="{% static 'imagenes/repetix.ico.png' %}"/>
                  </div>

                  <div>
                      <span class="nav__name">REPETIX</span>
                  </div>
              </a>

              <div class="nav__menu">
                  <ul class="nav__list">
                      <li class="nav__item"><a href="/index/" class="nav__link active">Inicio</a></li>
                      <li class="nav__item"><a href="/Nosotros/" class="nav__link">Nosotros</a></li>
                      <li class="nav__item"><a href="/Servicio/" class="nav__link">Servicios</a></li>
                      <li class="nav__item"><a href="/contacto/" class="nav__link">Contacto</a></li>
                      <li class="nav__item"><a href="/iniciarSesion/" class="nav__link">Iniciar Sesión</a></li>
                      <li class="nav__item"><a href="/registro/" class="nav__link">Registrarse</a></li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>
  <!-- Fin menu -->

    <section id="footer">
      <div class="inner">
        <h2 class="major">Contáctanos</h2>
        <p>Para más información o consultas no dude en ponerse en contácto con nosotros</p>
        <form method="post" action="#">
          <div class="fields">
            <div class="field">
              <label for="name">Nombre</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field">
              <label for="email">Correo electrónico</label>
              <input type="email" name="email" id="email" />
            </div>
            <div class="field">
              <label for="message">Enviar mensaje</label>
              <textarea name="message" id="message" rows="4"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li>
              <input type="submit" value="Send Message" />
            </li>
          </ul>
        </form>

        <section class="buttons">
          <a href="poner link" target="_blank" class="fa fa-facebook"></a>
          <a href="poner link" target="_blank" class="fa fa-twitter"></a>
          <a href="poner link" target="_blank" class="fa fa-instagram"></a>
        </section>

        <ul class="copyright">
          <li>Repetix</li>
          <li>&copy; Untitled Inc. All rights reserved.</li>
          <li>
            Design: <a href="http://html5up.net">HTML5 UP</a>
          </li>
        </ul>
      </div>
    </section>

  <script src=" {% static 'js/menu.js' %}"></script>
  </body>
</html>
