{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar pisos</title>
    <link rel="stylesheet" href="{% static 'css/RegistrarEdificio.css' %}">
</head>
<body>
    <h1>Registrar pisos</h1>
    
    <form method="POST">
        {% csrf_token %}
        <label for="numero_piso">Número de piso:</label><br>
        <input type="number" id="numero_piso" name="numero_piso" required><br><br>

        <label for="contador_piso">Número del contador del piso:</label><br>
        <input type="number" id="contador_piso" name="contador_piso" required><br><br>

        <label for="departamentos_piso">Número de departamentos del piso:</label><br>
        <input type="number" id="departamentos_piso" name="departamentos_piso" onchange="mostrarRegistrarDepartamentos()" required><br><br>

        <div id="departamentos_container"></div>

        <button type="submit">Registrar piso</button>
    </form>

    <script src="{% static 'js/registrarPiso.js' %}"></script>
</body>
</html>
