{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Piso</title>
  <link rel="stylesheet" href="{% static '/css/Piso.css' %}">
  <link rel="icon" href ="{% static '/imagenes/repetix.ico.png' %}">
</head>
<body>

  <video aria-hidden="true" muted="" loop="" playsinline="" id="video" class="video" autoplay="autoplay" style="z-index: -1; position: absolute; opacity: 1;    width: 100%;
  min-height: 100vh; object-fit: cover; position: fixed; top: 0; left: 0; z-index: -1;">
  <source src="{% static '/imagenes/neonFondo.mp4' %}" type="video/mp4">
  </video>

  <div class="piso" id="piso1">
    <h2>Piso</h2>
    <label for="ubicacion">Ubicación:</label><br>
    <select id="ubicacion" name="ubicacion" required>
      <option value="Piso 1">Piso 1</option>      
      <option value="Piso 2">Piso 2</option>
      <option value="Piso 3">Piso 3</option>
    </select><br>

    <label for="potenciaActuador">Potencia del actuador:</label><br>
    <input type="text" id="potenciaActuador" name="potenciaActuador" placeholder="Potencia del actuador"><br>

    <label for="datosSensor">Datos del Sensor:</label>
    <input type="text" id="amperios" name="amperios" placeholder="Amperios" required>
    <input type="text" id="horas" name="horas" placeholder="Horas" required><br>
    
    <button onclick="calcularConsumoTotal()">Calcular Consumo Total</button>
    
    <script src="{% static '/js/piso.js' %}"></script>
</body>
</html>
