body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f5f5;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

li {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #3a615f;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:#19816b; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #19816b;
}

.icon {
    margin-right: 10px;
}
