
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body { background-color:#fefdfb; color: #555; font-family: 'Abel', sans-serif; font-size: 93%; font-weight:normal;margin: 0; }
a:link, a:visited, a:active{ color:inherit; text-decoration: none; }
a:hover {color: #000; text-decoration:underline; }

/* Fondo oscuro */
body {
    background-color: #000;
    font-family: 'Abel';
    color: white;
}

.texto-encabezado {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/* Menu */
#menu{
    background: #185c5c;
}
#menu1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bold;
    font-size: 17px;
}
#menu1 h1 img {
    width: 45px;
    height: auto;
    margin-right: 10px;
}

#menu1 h1{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#menu1 ul li{
    display: inline-block;
    padding: 0 35px;
    color: white;
    text-decoration: none;
}

#menu1 ul li a:hover {
    color: aqua;
}

ul{
    list-style: none;
}
/*Fin menu*/

.pageitem h2 {font-size:120%;}
.pageitem p { padding:0; line-height:150%; font-size:99%;}
.pageitem .col {padding:0 3% 0 2%; }



.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 9px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.25rem; }
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.btn:focus, .btn:hover {
    text-decoration: none; }
.btn.focus {
    text-decoration: none; }
.btn:active, .btn.active {
    background-image: none;
    outline: 0; }
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65; }

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none; }

.btn-primary {
    color: #fff;
    background-color: #185c5c;
    border-color: #185c5c; }
.btn-primary:hover {
    color: #fff;
    background-color: #185c5c;
    border-color: #185c5c; }
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
    background-image: none; }
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #014682;
    border-color: #01315a; }
.btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
    background-color: #0275d8;
    border-color: #0275d8; }
.btn-primary.disabled:hover, .btn-primary:disabled:hover {
    background-color: #0275d8;
    border-color: #0275d8; }
