{% extends './base.html' %}

{% block title %}
  Control del edificio
{% endblock %}

{% block body %}
<div class="table-responsive">
  <h1>Control del edificio</h1>
  <div class="table-responsive py-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Numero(id)</th>
          <th>Ubicacion</th>
          <th>Numero de pisos</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for edificio in edificios %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ edificio.nombre }}</td>
            <td>{{ edificio.codigo }}</td>
            <td>{{ edificio.ubicacion }}</td>
            <td>{{ edificio.numero_pisos }}</td>
            <td>
              <a href="/ControlarEdificio/{{ edificio.codigo }}" class="btn btn-info">Acceder al edificio</a>
            </td>
            <td>
              <a href="/EliminarEdificio/{{ edificio.codigo }}" class="btn btn-danger btnEliminacion">Eliminar Edificio</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
