<!DOCTYPE html>
<html>
    <head>
        <title>Control  </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="estilo.css" />
    </head>
    <body>
        <h1> Control</h1>
        <h2>Edificio</h2>
        <ul>
            <li><label for="ubicacion">Ubicación:</label> <input type="text" id="ubicacion" name="ubicacion"></li>
            <li><label for="num_pisos">Número de pisos:</label> <input type="number" id="num_pisos" name="num_pisos"></li>
        </ul>
        <h3>Piso</h3>
       <ul>
            <li><label for="num_piso">Número de piso:</label> <input type="number" id="num_pisos" name="num_piso"></li>
    
            <label for="numero_sensor">Número del sensor:</label> <input type="number" id="numero_sensor" name="numero_sensor"></li>
            <label for="ubicacion_sensor">Ubicación del sensor:</label> <input type="text" id="ubicacion_sensor" name="ubicacion_sensor"></li>
            <label for="lectura_actual_sensor">Lectura actual del sensor:</label><input type="number" id="lectura_actual_sensor" name="lectura_actual_sensor"></li>
       </ul>
         <button>Calcular consumo del piso</button>
         <button>Calcular consumo del edificio</button> 
       

    </body>
</html>
