{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generación de Energía Eólica</title>
    <link rel="stylesheet" href="{% static '/css/Energia.css' %}">
</head>
<body>
<div id="contenedor">
    <h1>Generación de Energía Eólica</h1>

    <form id="generar-eolica-form" method="POST">
        <div class="input_energia">
            {% csrf_token %}
        <label for="velocidad_viento">Velocidad del Viento (m/s):</label>
        <input type="number" id="velocidad_viento" name="velocidad_viento" step="0.01" required><br>
        </div>
        <div class="input_energia">
            {% csrf_token %}
            <label for="area_barrido">Área barrida por las pala</label>
            <input type="number" id="area_barrido" name="area_barrido" step="0.01" required><br>
        </div>
        <div class="input_energia">
            <label for=densidad_aire>Densidad de aire:</label>
            <input type="number" id="densidad_aire" name="densidad_aire" step="0.01" required><br>
        </div>
        <div class="input_energia">
            <label for="eficiencia_sistema">Eficiencia del sistema:</label>
            <input type="number" id="eficiencia_sistema" name="eficiencia_sistema" step="0.01" required><br>
        </div>
        <div class="input_energia">
            <input type="submit" value="Calcular">
        </div>
    </form>
    <div id="resultado-generacion-eolica">
        {% if energia_generada %}
            <p>Se ha generado {{ energia_generada }} vatios de energía eólica.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
