{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generación de Energía Eólica</title>
    <link rel="stylesheet" href="{% static '/css/estilos.css' %}">
</head>
<body>
<div id="contenedor">
    <h1>Generación de Energía Eólica</h1>

    <form id="generar-eolica-form">
        {% csrf_token %}
        <div class="input_energia">
            <label for="velocidad_viento">Velocidad del Viento (m/s):</label>
            <input type="number" id="velocidad_viento" name="velocidad_viento" step="0.01" required><br>
        </div>
        <div class="input_energia">
            <label for="area_barrido">Área barrida por las palas (m²):</label>
            <input type="number" id="area_barrido" name="area_barrido" step="0.01" required><br>
        </div>
        <div class="input_energia">
            <label for="densidad_aire">Densidad del aire (kg/m³):</label>
            <input type="number" id="densidad_aire" name="densidad_aire" step="0.01" required><br>
        </div>
        <div class="input_energia">
            <label for="eficiencia_sistema">Eficiencia del sistema:</label>
            <input type="number" id="eficiencia_sistema" name="eficiencia_sistema" step="0.01" required><br>
        </div>
        <div class="input_energia">
            <button type="button" onclick="calcularEnergiaEolica()" class="button">Calcular</button>
        </div>
    </form>
    <div id="resultado-generacion-eolica">
        <!-- Aquí se mostrará el resultado -->
    </div>
</div>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
